*
  box-sizing border-box

.clearfix
  clearfix()

@font-face
  font-family IranSans
  font-style normal
  src url(fonts/iran_sans_mobile.ttf)

html
  position relative
  height 100%

body
  font 14px IranSans, "Helvetica Neue", Arial, Helvetica, sans-serif
  line-height 18px
  color #4d4d4d
  font-weight normal
  padding 0 10px
  background-color rgb(0, 121, 191)
  position relative
  height 100%
  padding 0
  margin 0
  clearfix()

*
  box-sizing border-box

a
  text-decoration none

img
  max-width 100%

main
  padding 0
  overflow-x auto
  overflow-y hidden
  height 100%
  white-space nowrap
  clearfix()

.react-spinner
  position: relative
  width 128px
  height 128px
  top 50%
  left 50%
  opacity 1

.react-spinner_bar
  -webkit-animation react-spinner_spin 1.2s linear infinite
  -moz-animation react-spinner_spin 1.2s linear infinite
  animation react-spinner_spin 1.2s linear infinite
  border-radius 5px
  background-color #2e888d
  position absolute
  width 20%
  height 7.8%
  top -3.9%
  left -10%

@keyframes react-spinner_spin
  0%
    opacity 1
  100%
    opacity 0.35

@-moz-keyframes react-spinner_spin
  0%
    opacity 1
  100%
    opacity 0.35

@-webkit-keyframes react-spinner_spin
  0%
    opacity 1
  100%
    opacity 0.35

.desk, .desk-placeholder, .desk-placeholder:hover
  width 14%
  display inline-block
  height 100%
  overflow hidden
  min-height 100px
  background-color #e2e4e6
  box-shadow 1px 1px 1px rgba(0, 0, 0, .5)
  border-radius 3px
  padding-bottom 20px
  margin-right 5px

  vertical-align top
  .desk-head
    position relative
    padding 5px 8px
    margin-bottom 10px
    clearfix()
    .desk-name
      font-weight bold
      white-space normal
      width 100%
      text-align center

.desk-items
  overflow-y scroll
  height 100%
  padding-bottom 20px
  padding-right 5px
  .placeholder, .placeholder:hover
    height 161px
    background-color rgba(208, 208, 208, 1)

.item
  width 95%
  margin 0 auto 10px
  background #fff
  min-height 100px
  border-radius 5px
  box-shadow 1px 1px 1px rgba(0, 0, 0, .3)
  transition 0.15s
  cursor pointer
  &:hover
    background #f7f7f7
  .item-color-section
    float right
    margin-top 10px
    height 110px
    width 10px
    left 100px
  .item-editableLabel-div
    padding 5px 10px
    float right
    width 110px
    height 40px
    font-size 12px
    text-align right
    white-space normal
    word-break normal
    word-wrap normal
  .item-editableLabel-textarea
    width 110px
    height 40px
    padding 5px 10px
    float right
    font-size 12px
    text-align right
    white-space normal
    word-break normal
    word-wrap normal
  .item-container-wrape
    padding 10px
    border-bottom 1px solid #dbdbdb
    clearfix()
    .item-avatar-wrap
      width 70px
      float left
      margin-bottom 5px
      img
        float left
        width 100px
        height 80px
        display block
        margin 0 auto
        border 1px solid #000
      input
        display none
  .item-header
    font-weight bolder


  .item-subHeader-desc
    font-weight bolder
    white-space normal
    .item-subHeader-desc-div
      font-size 12px

  .item-modal-and-buttons
    clearfix()
    padding 5px 10px
    .color-and-confirm-buttons
      float right

.board-container
  position absolute
  display block
  left 0
  top 0
  height 70%
  width 100%
  overflow hidden
  padding 10px 20px

.board-control-panel
  position absolute
  display block
  left 0
  top 70%
  height 30%
  width 100%
  overflow hidden
  padding 10px 20px
  .board-json-container
    margin-top 1%
    margin-left 3%
    color #000
    background-color #E2E6EA
    height 280px
    width 40%
    text-align right
    padding 20px
    overflow scroll

    div
      overflow scroll
      text-align left

  .board-error-message
    display block
    position relative
    top 90px
    width auto
    margin 0 auto
    font-size 24px
    text-align center

  .board-fetch-button
    display block
    position relative
    top 150px
    width auto
    margin 0 auto

  .board-update-button
    display block
    position relative
    top 120px
    width auto
    margin 0 auto

  .board-week-number
    display block
    position relative
    top 50px
    text-align right
    width 20%
    margin 0 auto

.control-panel-card
  width 14%
  height 100%
  float left
  display inline-block
  overflow hidden
  min-height 100px
  background-color #e2e4e6
  box-shadow 1px 1px 1px rgba(0, 0, 0, .5)
  border-radius 3px
  padding-bottom 20px
  margin-right 5px

  .desk-items
    overflow hidden

  .desk-head
    position relative
    padding 5px 8px
    margin-bottom 10px
    clearfix()
    .desk-name
      font-weight bold
      white-space normal
      width 100%
      text-align center
  .control-panel-card-content
    width 100%
    background #fff
    height 90%
    border-radius 5px
    box-shadow 1px 1px 1px rgba(0, 0, 0, .3)
    transition 0.15s
    cursor pointer

    .board-image
      width 100%
      height 100%
      border 2px solid #fff

  .item-editableLabel-div
    padding 5px 10px
    height 90%
    font-size 12px
    font-weight bolder
    text-align right
    white-space normal
    word-break normal
    word-wrap normal
  .item-editableLabel-textarea
    width 95%
    height 90%
    padding 5px 10px
    margin 5px
    font-size 12px
    text-align right
    white-space normal
    word-break normal
    word-wrap normal

  .item
    .item-editableLabel-div
      padding 5px 10px
      float right
      width 110px
      height 40px
      font-size 12px
      font-weight bolder
      text-align right
      white-space normal
      word-break normal
      word-wrap normal
    .item-editableLabel-textarea
      width 110px
      height 40px
      padding 5px 10px
      float right
      font-size 12px
      text-align right
      white-space normal
      word-break normal
      word-wrap normal

  .board-input
    display none
  .board-header-slider-images
    margin-top 1%
    margin-right 1%
    clearfix()
    .board-slider-text
      float right
      width 110px !important
      height 150px !important
      text-align right
      font-size 12px
      font-weight bolder
      color #000
      border 2px solid #fff
      padding: 10px
    .board-image-lable
      float right
      margin 5% 1% 0 1%
      font-size 12px
      font-weight bolder
      color #fff

@media only screen and (max-width 1444px)
  .board-container
    .board-json-container
      width 30%
    .board-week-header-slider-div
      .board-header-slider-images
        .board-slider-text
          width 250px !important

@media only screen and (max-width 1128px)
  .board-container
    .board-json-container
      margin-left 2%
      padding 10px
    .board-fetch-button
      margin-left 2%
    .board-week-header-slider-div
      .board-week-number
        margin-right 40%
      .board-header-slider-images
        .board-slider-text
          width 200px !important
          height 100px !important
          font-size 12px
          margin-top 10%
        .board-image-lable
          margin 15% 1% 0 1%
        .board-image
          width 100px
          height 100px
          margin-top 10%

@media only screen and (max-width 860px)
  .board-container
    .board-json-container
      margin-top 0%
      margin-left 2%
      padding 10px
    .board-fetch-button
      margin-left 2%
    .board-week-header-slider-div
      .board-week-number
        margin-top 2%
        margin-right 30%
      .board-header-slider-images
        .board-slider-text
          width 350px !important
          height 100px !important
          font-size 12px
          margin-top 1%
        .board-image-lable
          margin 5% 1% 0 1%
        .board-image-mainLable
          clear right
        .board-image
          width 100px
          height 100px
          margin-top 1%
